$color-pattern: rgba(0,0,0,0.1); //use rgba to not broke the svg encoded string
@import 'patternbolt';

#cart{
  .panel-body{
    padding: 32px 5px 5px;
  }
  .panel-footer{
    padding: 0;
    .btn-group{
      width:100%;
      .btn{
        width: 50%;
        overflow-x: hidden;
        &.pb-pattern{ border-top: 0; }
      }
    }
  }
  position: fixed;
  padding: 0;
  top: -125px;
  right: 25%;
  &.visible{
    top: -25px;
    -webkit-transition: all 500ms cubic-bezier(1.000, 0, 0.198, 1); /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(1.000, -0.038, 0.198, 1.427); 
       -moz-transition: all 500ms cubic-bezier(1.000, -0.038, 0.198, 1.427); 
         -o-transition: all 500ms cubic-bezier(1.000, -0.038, 0.198, 1.427); 
            transition: all 500ms cubic-bezier(1.000, -0.038, 0.198, 1.427); /* custom */

    -webkit-transition-timing-function: cubic-bezier(1.000, 0, 0.198, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(1.000, -0.038, 0.198, 1.427); 
       -moz-transition-timing-function: cubic-bezier(1.000, -0.038, 0.198, 1.427); 
         -o-transition-timing-function: cubic-bezier(1.000, -0.038, 0.198, 1.427); 
            transition-timing-function: cubic-bezier(1.000, -0.038, 0.198, 1.427); /* custom */
  }
}

#price {
  .cart.btn{
  padding-right: 4px;
  padding-bottom: 0px;
  }
  thead th {
  border: 0;
    z-index: 1;
    position: relative;
    &:after {
      background-image: $buseca-1;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;
      content: '';
      z-index: -1;
      -webkit-transition: background-image 0.1s ease-in-out;
      -moz-transition: background-image 0.1s ease-in-out;
      -ms-transition: background-image 0.1s ease-in-out;
      -o-transition: background-image 0.1s ease-in-out;
      transition: background-image 0.1s ease-in-out;
    }
  }
}