// Place all the styles related to the order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cart{
  .panel-body{
    padding: 32px 5px 5px;
  }
  .panel-footer{
    padding: 0;
    .btn-group{
      width:100%;
      .btn{
        width: 50%;
      }
    }
  }
  position: fixed;
  padding: 0;
  top: -125px;
  right: 25%;
  &.visible{
    top: -25px;
    -webkit-transition: all 500ms cubic-bezier(1.000, 0, 0.198, 1); /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(1.000, -0.038, 0.198, 1.427); 
       -moz-transition: all 500ms cubic-bezier(1.000, -0.038, 0.198, 1.427); 
         -o-transition: all 500ms cubic-bezier(1.000, -0.038, 0.198, 1.427); 
            transition: all 500ms cubic-bezier(1.000, -0.038, 0.198, 1.427); /* custom */

    -webkit-transition-timing-function: cubic-bezier(1.000, 0, 0.198, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(1.000, -0.038, 0.198, 1.427); 
       -moz-transition-timing-function: cubic-bezier(1.000, -0.038, 0.198, 1.427); 
         -o-transition-timing-function: cubic-bezier(1.000, -0.038, 0.198, 1.427); 
            transition-timing-function: cubic-bezier(1.000, -0.038, 0.198, 1.427); /* custom */
  }
}
